In [1]:
!pip install numpy
!pip install pandas

Requirement already satisfied: numpy in c:\users\abrar\desktop\course predictor\model\env\lib\site-packages (1.25.2)
Requirement already satisfied: pandas in c:\users\abrar\desktop\course predictor\model\env\lib\site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\abrar\desktop\course predictor\model\env\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\abrar\desktop\course predictor\model\env\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in c:\users\abrar\desktop\course predictor\model\env\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\abrar\desktop\course predictor\model\env\lib\site-packages (from pandas) (1.25.2)
Requirement already satisfied: six>=1.5 in c:\users\abrar\desktop\course predictor\model\env\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('coursera.csv')
df.head()

,title,course,specializations,professional certificates,guided project,none,OL Passes 0,OL Passes 5,OL Passes 9,AL Passes 0,...,category_Machine Learning,category_Math and Logic,category_Networking,category_Physics and Astronomy,category_Support and Operations,category_other_category,level_Advanced Level,level_Beginner Level,level_Intermediate Level,level_None
0,1,0,1,0,0,0,0,0,1,0,...,0,0,1,0,0,0,0,0,1,0
1,2,1,0,0,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,1
2,3,1,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,4,1,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
4,5,1,0,0,0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,1,0

In [4]:
df = pd.get_dummies(df)

In [5]:
df.head(2)

,title,course,specializations,professional certificates,guided project,none,OL Passes 0,OL Passes 5,OL Passes 9,AL Passes 0,...,category_Machine Learning,category_Math and Logic,category_Networking,category_Physics and Astronomy,category_Support and Operations,category_other_category,level_Advanced Level,level_Beginner Level,level_Intermediate Level,level_None
0,1,0,1,0,0,0,0,0,1,0,...,0,0,1,0,0,0,0,0,1,0
1,2,1,0,0,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,1

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 228 entries, 0 to 227
Data columns (total 28 columns):
 #   Column                                             Non-Null Count  Dtype
---  ------                                             --------------  -----
 0   title                                              228 non-null    int64
 1   course                                             228 non-null    int64
 2   specializations                                    228 non-null    int64
 3   professional certificates                          228 non-null    int64
 4   guided project                                     228 non-null    int64
 5   none                                               228 non-null    int64
 6   OL Passes 0                                        228 non-null    int64
 7   OL Passes 5                                        228 non-null    int64
 8   OL Passes 9                                        228 non-null    int64
 9   AL Passes 0                                        228 non-null    int64
 10  AL Passes 3                                        228 non-null    int64
 11  duration                                           228 non-null    int64
 12  category_Business Essentials                       228 non-null    int64
 13  category_Cloud Computing                           228 non-null    int64
 14  category_Computer Security and Networks            228 non-null    int64
 15  category_Data Analysis                             228 non-null    int64
 16  category_Design and Product                        228 non-null    int64
 17  category_Environmental Science and Sustainability  228 non-null    int64
 18  category_Machine Learning                          228 non-null    int64
 19  category_Math and Logic                            228 non-null    int64
 20  category_Networking                                228 non-null    int64
 21  category_Physics and Astronomy                     228 non-null    int64
 22  category_Support and Operations                    228 non-null    int64
 23  category_other_category                            228 non-null    int64
 24  level_Advanced Level                               228 non-null    int64
 25  level_Beginner Level                               228 non-null    int64
 26  level_Intermediate Level                           228 non-null    int64
 27  level_None                                         228 non-null    int64
dtypes: int64(28)
memory usage: 50.0 KB

In [8]:
df.shape

(228, 28)

In [9]:
x = df.drop('title', axis =1)
y= df['title']

In [10]:
!pip install sklearn

Requirement already satisfied: sklearn in c:\users\abrar\desktop\course predictor\model\env\lib\site-packages (0.0.post7)

In [12]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [13]:
x_train.shape, y_test.shape

((182, 27), (46,))

In [14]:
def model_acc(model):
    model.fit(x_train,y_train)
    acc= model.score(x_test,y_test)
    print(str(model)+ ' --> ' +str(acc))

In [18]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
model_acc(lr)

from sklearn.linear_model import Lasso
lasso= Lasso()
model_acc(lasso)

from sklearn.tree import DecisionTreeRegressor
dt = DecisionTreeRegressor()
model_acc(dt)

from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor(random_state=42)
model_acc(rf)

LinearRegression() --> 0.49423246582855485
Lasso() --> 0.5000451845047021
DecisionTreeRegressor() --> 0.3369303128708909
RandomForestRegressor(random_state=42) --> 0.5402059480590107

In [22]:
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import mean_squared_error

param_grid = {
    'n_estimators': [10, 50, 100],
    'max_depth': [None, 10, 20],
    'min_samples_split': [2, 5, 10]
}

grid_search = GridSearchCV(rf, param_grid, cv=5, scoring='neg_mean_squared_error')

grid_search.fit(x_train, y_train)

best_params = grid_search.best_params_
best_estimator = grid_search.best_estimator_

y_pred = best_estimator.predict(x_test)

mse = mean_squared_error(y_test, y_pred)

print("Best Parameters:", best_params)
print(f"Mean Squared Error: {mse:.2f}")

Best Parameters: {'max_depth': 10, 'min_samples_split': 10, 'n_estimators': 100}
Mean Squared Error: 1549.15

In [24]:
best_estimator.score(x_test, y_test)

0.6087901617353784

In [26]:
import pickle

In [27]:
import pickle

In [28]:
with open('predictor.pickle', 'wb') as file:
    pickle.dump(best_estimator, file)

In [29]:
x_train.columns

Index(['course', 'specializations', 'professional certificates',
       'guided project', 'none', 'OL Passes 0', 'OL Passes 5', 'OL Passes 9',
       'AL Passes 0', 'AL Passes 3', 'duration',
       'category_Business Essentials', 'category_Cloud Computing',
       'category_Computer Security and Networks', 'category_Data Analysis',
       'category_Design and Product',
       'category_Environmental Science and Sustainability',
       'category_Machine Learning', 'category_Math and Logic',
       'category_Networking', 'category_Physics and Astronomy',
       'category_Support and Operations', 'category_other_category',
       'level_Advanced Level', 'level_Beginner Level',
       'level_Intermediate Level', 'level_None'],
      dtype='object')

In [32]:
best_estimator.predict([[0,1,0,0,0,0,0,1,0,1,720,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0]])

C:\Users\abrar\Desktop\Course Predictor\model\env\lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(

array([94.73353719])